# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# Database
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Face data
faces/
face_data/

# Temporary files
temp/
tmp/

# Python distribution
build/
dist/
*.egg-info/